*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//____________________________________________________________

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@mixin h1-style {
	text-align: center;
	font-size: 30px;
	letter-spacing: 0px;
	line-height: 60px;
	color: #191919;
	font-weight: 500;
	font-family: "Montserrat";
}
@mixin p-style {
	text-align: center;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 24px;
	color: #787878;
	font-weight: 400;
	font-family: "Nunito Sans";
}
@mixin hover-style {
	background-color: #0fa49f;
}
@mixin button-style {
	width: 180px;
	height: 55px;
	background-color: #10c9c3;
	font-size: 12px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Montserrat";
	transition: all 0.3s ease 0s;
}
header {
	width: 100%;
	height: 90px;
	.header-wrapper {
		max-width: 1170px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.menu {
			.menu-ul {
				display: flex;
				li {
					margin-left: 20px;
					a {
						display: inline-block;
						font-size: 12px;
						color: #000000;
						font-weight: 500;
						font-family: "Montserrat";
						transition: all 0.5s ease 0s;
						&:hover {
							color: #10c9c3;
						}
					}
				}
			}
		}
	}
}
.wrapper-1 {
	width: 100%;
	background: #000 url('../img/bg-1.jpg') top/cover no-repeat;
	overflow: hidden;
	.menu-phone {
		display: none;
	}
	.container {
		max-width: 1170px;
		min-height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: end;
		padding: 150px 0;
		.content {
			max-width: 475px;
			h1 {
				font-size: 38px;
				line-height: 48px;
				color: #fff;
				font-weight: 500;
				font-family: "Montserrat";
			}
			p {
				font-size: 18px;
				letter-spacing: 0px;
				line-height: 28px;
				color: #fff;
				font-weight: 400;
				font-family: "Nunito Sans";
				margin: 36px 0 38px 0;
			}
			button {
				@include button-style();
				&:hover {
					background-color: #0fa49f;
				}
				&:active {
					transform: scale(0.9);
				}
			}
			 
		}
	}
}
.wrapper-2 {
	width: 100%;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		.content {
			max-width: 620px;
			margin: 0 auto;
			text-align: center;
			padding: 100px 0;
			h1 {
				@include h1-style();
			}
			p {
				@include p-style();
				margin: 30px 0;
			}
		}
	}
}
.wrapper-3 {
	width: 100%;
	background: url('../img/skills.jpg') center/cover no-repeat;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		.content {
			padding: 160px 0;
			h1 {
				font-size: 30px;
				line-height: 84px;
				color: #171717;
				font-weight: 500;
				font-family: "Montserrat";
			}
			p {
				font-size: 12px;
				line-height: 30px;
				color: #000000;
				font-weight: 500;
				font-family: "Montserrat";
				margin: 10px 0;
			}
			.line-1 {
				max-width: 500px;
				height: 3px;
				background-color: #d8d8d8;
				position: relative;
				&::before {
					content: "";
					width: 75%;
					height: 3px;
					background-color: #10c9c3;
					position: absolute;
				}
			}
			.line-2 {
				max-width: 500px;
				height: 3px;
				background-color: #d8d8d8;
				position: relative;
				&::before {
					content: "";
					width: 90%;
					height: 3px;
					background-color: #10c9c3;
					position: absolute;
				}
			}
			.line-3 {
				max-width: 500px;
				height: 3px;
				background-color: #d8d8d8;
				position: relative;
				&::before {
					content: "";
					width: 65%;
					height: 3px;
					background-color: #10c9c3;
					position: absolute;
				}
			}
		}
	}
}
.wrapper-4 {
	width: 100%;
	background-color: #10c9c3;
	overflow: hidden;
	.container {
		max-width: 1170px;
		min-height: 240px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		.item-1, .item-2, .item-3, .item-4 {
			display: flex;
			align-items: start;
			.text-content {
				margin-left: 20px;
				.cifra {
					font-size: 18px;
					color: #ffffff;
					font-weight: 500;
					font-family: "Montserrat";
				}
				.text {
					font-size: 12px;
					line-height: 30px;
					color: #ffffff;
					font-weight: 500;
					font-family: "Montserrat";
				}
			}
		}
	}
}
.wrapper-5 {
	max-width: 1170px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	.swiper-slide {
		overflow: hidden;
		text-align: center;
		font-size: 18px;
		background: #000;
		height: calc((100% - 30px) / 2) !important;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: all 0.3s ease 0s;
			cursor: pointer;
			&:hover {
				opacity: 0.3;
			}
		}
	
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	  }
}
.wrapper-6 {
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		padding: 100px 0;
		.top-content {
			max-width: 500px;
			text-align: center;
			margin: 0 auto;
			h1 {
				@include h1-style();
			}
			p {
				@include p-style();
				margin: 40px 0 55px 0;
			}
		}
		.center-content {
			video {
				max-width: 100%;
				margin-bottom: 200px;
			}
		}
		.bottom-content {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
			justify-content: space-between;
			grid-gap: 40px;
			.item-1 {
				text-align: center;
				width: 200px;
				h1 {
					font-size: 12px;
					line-height: 30px;
					color: #191919;
					font-weight: 500;
					font-family: "Montserrat";
					margin: 20px 0;
					text-transform: uppercase;
				}
				p {
					font-size: 16px;
					line-height: 24px;
					color: #787878;
					font-weight: 400;
					font-family: "Nunito Sans"
				}
			}
		}
	}
}
.wrapper-7 {
	width: 100%;
	height: 500px;
	background-color: #10c9c3;
	overflow: hidden;
	.swiper-slide {
		text-align: center;
		font-size: 18px;
	
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		h1 {
			max-width: 820px;
			font-size: 30px;
			line-height: 36px;
			color: #ffffff;
			font-weight: 500;
			font-family: "Montserrat";
			text-align: center;
		}
		p {
			font-size: 12px;
			line-height: 36px;
			color: #ffffff;
			font-weight: 500;
			font-family: "Montserrat";
			text-align: center;
			margin-top: 30px;
		}
	}
}
.wrapper-8 {
	width: 100%;
	overflow: hidden;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		padding: 65px 0;
		.sponsors {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}
.wrapper-9 {
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	.container {
		max-width: 1170px;
		margin: 0 auto;
		padding: 100px 0;
		.content {
			max-width: 670px;
			margin: 0 auto;
			h1 {
				@include h1-style();
			}
			p {
				@include p-style();
				margin: 25px 0 35px 0;
			}
			.form {
				width: 100%;
				.form-name-email {
					display: flex;
					justify-content: space-between;
					width: 100%;
					input:nth-child(1), input:nth-child(2) {
						padding: 10px;
						width: 48%;
						height: 50px;
						font-size: 15px;
						color: #787878;
						font-weight: 400;
						font-family: "Nunito Sans";
						transition: all 0.3s ease 0s;
						&:focus {
							border: 2px solid rgba(000, 000, 000, 0.5);
						}
					}
				}
				.form-title {
					width: 100%;
					input {
						padding: 10px;
						width: 100%;
						height: 50px;
						font-size: 15px;
						color: #787878;
						font-weight: 400;
						font-family: "Nunito Sans";
						transition: all 0.3s ease 0s;
						margin: 30px 0;
						&:focus {
							border: 2px solid rgba(000, 000, 000, 0.5);
						}
					}
				}
				.form-comment {
					width: 100%;
					textarea {
						padding: 10px;
						width: 100%;
						height: 170px;
						resize: none;
						font-size: 15px;
						color: #787878;
						font-weight: 400;
						font-family: "Nunito Sans";
						transition: all 0.3s ease 0s;
						&:focus {
							border: 2px solid rgba(000, 000, 000, 0.5);
						}
					}
				}
				.form-submit {
					margin-top: 30px;
					text-align: center;
					button {
						@include button-style();
						&:hover {
							background-color: #0fa49f;
						}
						&:active {
							transform: scale(0.9);
						}
					}
				}
			}
		}
	}
}
footer {
	width: 100%;
	height: 285px;
	background-color: #141414;
	.footer-wrapper {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.info-1, .info-2 {
			margin-top: 100px;
			h1 {
				font-size: 18px;
				color: #ffffff;
				font-weight: 500;
				font-family: "Montserrat";
				margin-bottom: 14px;
			}
			p {
				font-size: 15px;
				color: #bcbcbc;
				font-weight: 400;
				font-family: "Nunito Sans";
				margin-bottom: 14px;
			}
		}
		.info-3, .info-4, .info-5 {
			margin-top: 100px;
			ul li a {
				display: inline-block;
				font-size: 15px;
				color: #bcbcbc;
				font-weight: 400;
				font-family: "Nunito Sans";
				margin-bottom: 14px;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		.header-wrapper {
			width: 95%;
		}
	}
	.wrapper-1, .wrapper-2, .wrapper-3, .wrapper-4, .wrapper-5, .wrapper-6, .wrapper-7, .wrapper-8, .wrapper-9 {
		.container {
			width: 95%;
		}
	}
	footer {
		.footer-wrapper {
			width: 95%;
		}
	}
}